{% if messages %}
{% for message in messages %}
    <div class="chatbox-message-container {% if message.sender == userId %} my-message {% endif %}">
        <div class="chatbox-message">
            <div class="message-box">
                <div class="message-content">
                    <div class="message-header">
                        <div class="message-user">
                            Florian
                        </div>
                        <div class="message-time">
                            {{ message.createtime|date("H:i", "Europe/Berlin") }}
                        </div>
                    </div>

                    <div class="message-text">
                        {{ message.message }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% else %}
    <div class="no-message-container">
        <h1>Es wurden bisher keine Nachrichten versendet.</h1>
        <h2>Schreibe jetzt deine erste Nachricht</h2>
        <i class="material-icons">expand_more</i>
    </div>

{% endif %}