body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.66), rgba(46, 49, 65, 0.63)), url("/img/bg.jpg");
    background-size: auto, cover;
    background-attachment: fixed, fixed;
    background-position: center, center;
}

i.material-icons{
    cursor: pointer;
}

/**********************
    Start Chatroom
**********************/

.btn.btn-default.join-chatroom-btn{
    position: absolute;
    right: 10px;
    top: 0;
    background: rgba(12, 169, 47, 0.6);
    color: #fff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.btn.btn-default.join-chatroom-btn:hover,
.btn.btn-default.join-chatroom-btn:focus{
    background: rgba(0, 226, 0, 0.50);
    outline: none;
}

#banner {
    padding: 12em 0 16.75em 0;
}

#banner .inner {
    margin: 0 auto;
    width: 100%;
    color: #fff;
}

#banner .inner h1 {
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    font-size: 65px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.42);
    padding-bottom: 25px;
}

#banner .inner p {
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 25px;
}

#banner .inner button {
    font-size: 20px;
    background: rgba(12, 169, 47, 0.6);
    color: #fff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#banner .inner button:hover,
#banner .inner button:focus{
    background: rgba(0, 226, 0, 0.50);
    outline: none;
}


/**********************
     Chatroom
**********************/

.chatroom-container{
    position: absolute;
    overflow: hidden;
    background-color: #333;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

.chatroom-container .chatbox{
    position: absolute;
    left: 350px;
    top: 0;
    right: 0;
    bottom: 0;
}

.chatroom-container .chat-left-nav{
    width: 350px;
    height: 100%;
    position: absolute;
    display: block;
    background: #222;
    bottom: 0;
    top: 0;
    left: 0;
}

.chat-left-nav.add-chatgroup-nav{
    left: -350px;
    background: #eee;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.5);
}

.add-chatgroup-nav .add-chatroom{
    display: flex;
    width: 89px;
    padding-left: 10px;
}

.add-chatgroup-nav .icon-circle{
    width: 100px;
    height: 100px;
    background: #ddd;
    border-radius: 100%;
    text-align: center;
    margin: 0 auto;
}

.add-chatgroup-nav .icon-circle i{
    line-height: 100px;
    font-size: 45px;
}

.add-chatgroup-nav .chatgroup-id-input-container{
    padding: 20px 50px;
}

.add-chatgroup-nav .chatgroup-id-input-container button{
    width: 100%;
    margin-top: 35px;
    background: #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.add-chatgroup-nav .chatgroup-id-input-container button:hover{
    background: #b6e88e !important;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
}

.chat-left-nav .nav-header{
    width: 100%;
    height: 60px;
    background: #eee;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,.08);
    display: flex;
    color: #333;
}

.chat-left-nav .nav-main-conainter{
    padding: 20px 0px;
}

.add-chatgroup-nav .nav-main-conainter{
    padding: 50px 0px;
}

.list-group .list-group-item .row-picture i{
    background: #ddd;
    color: #222;
    font-size: 26px;
}

.list-group .list-group-item .row-picture{
    vertical-align: top;
}

.member-list .list-group
.list-group-item
.list-group-item-heading{
    color: #ddd;
    font-size: 16px;
    margin-bottom: 2px;
    line-height: 1;
}

.member-list .list-group .list-group-separator:before{
    border-bottom: 1px solid;
}

.member-list .list-group .list-group-separator{
    margin-top: 15px;
    margin-bottom: 15px;
}

.list-group .list-group-item .row-content{
    min-height: 60px;
}

.member-list .list-group .list-group-item .list-group-item-text{
    color: #999;
}

.nav-header .chatroom-id{
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    font-weight: 400;
    display: flex;
    width: 100%;
}

.nav-header .add-chatroom{
    display: flex;
}

.nav-header .add-chatroom i{
    font-size: 29px;
    line-height: 40px;
}

.chatbox .chatbox-header{
    width: 100%;
    height: 60px;
    background: #ddd;
    border-bottom: 1px solid rgba(0,0,0,.08);
    padding: 10px 10px 10px 25px;
    border-left: 1px solid rgba(0,0,0,.08);
    display: flex;
    font-size: 15px;
}

.chatbox-header .chatroom-controlls{
    height: 40px;
    display: flex;
}

.chatbox-header .online-users{
    display: flex;
    height: 40px;
    line-height: 40px;
}

.chatbox-header .left-content{
    width: 100%;
    display: flex;
    height: 40px;
    line-height: 40px;
    font-weight: 400;
    font-size: 18px;
}

.chatbox-header .online-users p{
    margin-bottom: 0;
}

.chatbox-header .online-users i{
    line-height: 40px;
    font-size: 29px;
    margin-right: 7px;
}


.chatbox-header .chatroom-controlls i{
    font-size: 26px;
    line-height: 40px;
    cursor: pointer;
    margin-left: 15px;
}

.chatbox-header .chatroom-controlls i.menu-icon{
    font-size: 32px;
}

.chatbox-content{
    position: absolute;
    top: 80px;
    left: 25px;
    right: 25px;
    bottom: 80px;
    overflow: hidden;
    overflow-y: auto;
}

.chatbox-message-container{
    margin-bottom: 20px;
}

.chatbox-message-container .chatbox-message{
    margin-bottom: 10px;
}

.chatbox-message-container .chatbox-message:last-child{
    margin-bottom: 0px;
}

.chatbox-message-container .message-box{
    background-color: #eee;
    display: inline-block;
    border-radius: 8px;
    padding: 10px;
    max-width: 65%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.88);
    min-width: 200px;
}

.chatbox-message-container.my-message{
  text-align: right;
}

.chatbox-message-container.my-message .message-box{
    background-color: #b6e88e;
}

.message-box .message-content{
    color: #000;
    text-align: left;
}

.message-content .message-header{
    display: flex;
    margin-bottom: 3px;
}


.message-content .message-text{
    color: #000;
    font-size: 13px;
    font-weight: normal;
}

.message-content .message-user{
    font-weight: 500;
    display: flex;
    width: 100%;
}

.message-content .message-time{
    display: flex;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}

.message-content .message-time i{
    font-size: 13px;
    line-height: 20px;
    margin-right: 3px;
}

.chatbox-input{
    position: absolute;
    bottom: 10px;
    left: 25px;
    right: 20px;
    height: 60px;
    padding: 10px 0;
    display: flex;
}

.chatbox-input .input-contaier{
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #ddd;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    position: relative;
}


.chatbox-input .input-contaier .input-placeholder{
    color: #777;
    font-weight: 300;
}

.chatbox-input .input-contaier .input{
    position: absolute;
    left: 15px;
    right: 15px;
    overflow: hidden;
    height: 20px;
}


.chatbox-input .smile-controll{
    display: flex;
    color: #ddd;
    height: 40px;
    margin-left: 20px;
}

.chatbox-input .smile-controll i{
    cursor: pointer;
    line-height: 40px;
    font-size: 30px;
}


/**********************
    Loading Bar
**********************/

.loading-container{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -135px;
    height: 270px;
    width: 800px;
    text-align: center;
    color: #fff;
    display: none;
}

.loading-container h2{
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.spinner {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 0 auto;
    margin-top: 75px;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}


@media (min-width: 1500px){
    .chatroom-container{
        max-width: 1400px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
        border-radius: 6px;
        bottom: 50px;
        top: 50px;
        margin: 0 auto;
    }

    .chatbox-header{
        border-top-right-radius: 5px;
    }

    .nav-header{
        border-top-left-radius: 5px;
    }

    .member-list{
        border-bottom-left-radius: 5px;
        border-top-left-radius: 10px;
    }
}

